### 列表推导式

In [ ]:
I change something in this file.

In [1]:
list = range(12)
t = [i * i for i in list]
print(t)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

等价于

In [2]:
l = range(12)
t = []
for i in l:
    t.append(i * i)
print(t)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

还可以if

In [4]:
list = range(12)
t = [i * i for i in list if i % 2 != 0]
print(t)

[1, 9, 25, 49, 81, 121]

等价于

In [6]:
l/ = range(12)
t = []
for i in l:
    if i % 2 != 0:
        t.append(i * i)
print(t)

[1, 9, 25, 49, 81, 121]

In [ ]:
### 练习

思考一下，列表推导式是否能够将素数列表直接实现出来？为什么？

然后测试一下。

答案：不能

### dict 

具有一系列的成对对象，一个叫做key，一个叫做value。

无顺序，key不可重复（映射）。

通过一个key可以唯一确定另一个value，反之未必。

可以添加和删除。

其中的元素（包括key和value）不需要是同类型。

key是不可变对象。

In [11]:
k = {}
k[1] = 2
k[2] = 1
print(k)

l =(1,2)
k[l] = 1
l1 = (1,2,3)
k[l1] = 1
print(k)

{1: 2, 2: 1}
{1: 2, 2: 1, (1, 2): 1, (1, 2, 3): 1}

In [12]:
d = {1:2}
e = {1:d}
print(e)

{1: {1: 2}}

In [13]:
d = {1:2}
e = {1:d}
d[2] = e
print(d)

{1: 2, 2: {1: {...}}}

In [14]:
d = [1,]
e = [1,d]
d.append(e)
print(e)

[1, [1, [...]]]

In [24]:
d = {0:'0',5:'5',1:'1',2:'2'}
for i in d:
    print(i)
print(d[2])

0
5
1
2
2

In [27]:
ab = {
    'Tom':'Tom96@163.com',
    'Mike':'Mike97@qq.com',
    'Jenny':'ndz5250@sina.com',
    'Hench':'hench_li@163.com'
}

del ab['Tom']

print(ab)

{'Mike': 'Mike97@qq.com', 'Jenny': 'ndz5250@sina.com', 'Hench': 'hench_li@163.com'}

In [28]:
print('Name list: %s' % ', '.join(ab))

Name list: Mike, Jenny, Hench

In [41]:
for name, address in ab.items():
    print('Contact {0} at {1}'.format(name, address))
print(ab.items())

Contact Mike at Mike97@qq.com
Contact Jenny at ndz5250@sina.com
Contact Hench at hench_li@163.com
dict_items([('Mike', 'Mike97@qq.com'), ('Jenny', 'ndz5250@sina.com'), ('Hench', 'hench_li@163.com')])

In [42]:
if 'Hench' in ab:
    print("Hench's address is {0}.".format(ab['Hench']))

Hench's address is hench_li@163.com.

### set

具有一组对象。无顺序，不可重复。

可以添加和删除。

其中的元素不需要是同类型，但必须是不可变对象。

In [56]:
bri = {'Brazil', 'Russia','India'}
print(bri)

{'India', 'Russia', 'Brazil'}

In [57]:
'USA' in bri

False

In [58]:
bric = bri.copy()
print(bric)
bric.add('China')
print(bric)

{'India', 'Russia', 'Brazil'}
{'India', 'Russia', 'Brazil', 'China'}

In [60]:
bric.remove('Russia')
print(bric)

{'India', 'Brazil', 'China'}
{'India', 'Brazil'}

In [61]:
print(bri & bric)
print(bri | bric)

{'India', 'Brazil'}
{'China', 'Russia', 'India', 'Brazil'}